.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.3);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 700px;
    box-shadow: 2rem 4rem 4rem;
    border-radius:15px;
}

.form {
   display: flex;
   justify-content: center;
   flex-direction: column;
    max-width: 500px;

}

.form-control {
    font-size: 1.4rem;
}

.label {
    font-size: 1.5rem;
}